* {
  box-sizing: border-box;
}

.wrapper {
  width: 400px;
  height: 400px;
}
.game {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.game > div {
  border: 1px solid #fff;
}

.game > div > div {
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  font-size: 25px;
  background-color: red;

  transition: .2s;
}
[data-index="0"] {
  z-index: -10;
  background-color: #fff!important;
}